label for="fieldname" Project Name:
p  Field Name:
input#fieldname type="text" name="dayfield[fieldname]" value="#{@dayfield.fieldname}"
p  Min Range
input#minrange type="number" name="dayfield[minrange]" value="#{@dayfield.minrange}" 
p  Max Range
input#maxrange type="number" name="dayfield[maxrange]" value="#{@dayfield.maxrange}" 
p
   input type="submit" value="Save Field"