- songid = Song.get(@linksong).id
- tagid = Tag.get(@linktag).id
- songname = Song.get(@linksong).title
- tagname  = Tag.get(@linktag).tagname
p Song <a href="/songs/#{songid}">#{songname}</a> is linked to tag <a href="/tags/#{tagid}">#{tagname}</a>
p &nbsp;
p &nbsp;
form action="/songtags/#{@linksong}/#{@linktag}" method="POST"
      input type="hidden" name="_method" value="DELETE"
      input type="submit" value="delete this songtag"
