label for="tagname" Tag Name:
input#tagname type="text" name="tag[tagname]" value="#{@tag.tagname}"
label for="current" Current:
input#current type="text" name="tag[current]" value="#{@tag.current}"
p
  input type="submit" value="Save Tag"
  
  
 