label for="username" User Name:
input#username type="text" name="user[username]" value="#{@user.username}"
label for="useravatar" Avatar:
input#useravatar type="text" name="user[useravatar]" value="#{@user.useravatar}"
p
  input type="submit" value="Save User"