label for="wname" Wheel name:
input#wname type="text" name="wheel[wname]" value="#{@wheel.wname}"
p
label for="project_id" Project ID:
input#project_id type="number" name="wheel[project_id]" value="#{@wheel.project_id}"
p
label for="wlength" Length of wheel:
input#wlength type="number" name="wheel[wlength]" value="#{@wheel.wlength}"
p
label for="place_in_project" Place in project:
input#place_in_project type="number" name="wheel[place_in_project]" value="#{@wheel.place_in_project}"
p
input type="submit" value="Save Wheel (next is adding fields)"